@CHARSET "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

body {
	font: 300 14px sans-serif;
	background-color: #f3f3f3 !important;
	opacity: 60%;
	width: 100%;
	height: 100%;
}

.errors {
	font-style: italic;
	color: red;
}

.emphasis {
	font-size: 1.3em;
}
.letra{
	font-size: 32px;
	font-family: 'Kaushan Script', cursive;
	
}
#cabecalho {
	margin-top: 60px;
	height: 10%;
	widht: 100%;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.cabecalhoGeral {
	margin-top: 20px;
	text-align: center;
	font: 28px Arial, sans-serif;
	font-weight: bold;
	color: Snow;
	background: #008B45;
	border: 1px solid;
	padding: 3px;
}

.tabela {
	margin-left: 30%;
	text-align: center;
	border: 2px solid green;
	white-space: nowrap;
}

/* Definiï¿½ï¿½o de estilos para linha de cabeï¿½alho da tabela*/
.cabecalho {
	text-align: center;
	font: 16px Arial, sans-serif;
	font-weight: bold;
	color: Snow;
	background: #008B45;
	border: 1px solid;
	padding: 3px;
}

/* Definiï¿½ï¿½o de estilos para coluna */
.codigo {
	text-align: center;
	font: 18px Arial, sans-serif;
	background: #A2CD5A;
	padding-left: 13px;
	padding-right: 13px;
	text-align: center;
	border: solid 1px;
	white-space: nowrap;
}

.nome {
	font: 18px Arial, sans-serif;
	text-align: center;
	background: #BCEE68;
	padding-left: 15px;
	padding-right: 15px;
	white-space: nowrap;
	border: solid 1px;
	white-space: nowrap;
}



/* Definiï¿½ï¿½o de estilos para coluna */
